<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.eclipse.escet.common.emf.ecore.codegen/src/org/eclipse/escet/common/emf/ecore/codegen/java/ModelWalkerGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.eclipse.escet.common.emf.ecore.codegen.java.ModelWalkerGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="org.eclipse.escet.common.emf.ecore.codegen"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="org.eclipse.escet.cif.metamodel.cif.CifPackage ../org.eclipse.escet.cif.metamodel/target/classes|../../common/org.eclipse.escet.common.position.metamodel/target/classes src-gen/org/eclipse/escet/cif/metamodel/java CifWalker CompositeCifWalker CifWithArgWalker CompositeCifWithArgWalker org.eclipse.escet.cif.metamodel.java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.eclipse.escet.common.emf.ecore.codegen"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:org.eclipse.escet.cif.metamodel.java}"/>
</launchConfiguration>
