################################################################################
# Copyright (c) 2010, 2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the terms
# of the MIT License which is available at https://opensource.org/licenses/MIT
#
# SPDX-License-Identifier: MIT
################################################################################# 

# Set the default behavior, convert to native line endings on checkout.
* text=auto

# Declare files that will always have certain line endings on checkout.
*.bash text eol=lf
*.bat text eol=crlf
*.cmd text eol=crlf
*.sh text eol=lf
Makefile text eol=lf

# Denote all files that are truly binary. For images, do allow image diff.
*.7z        binary
*.bmp       binary diff
*.class     binary
*.doc       binary
*.docx      binary
*.eps       binary
*.exe       binary
*.gif       binary diff
*.gz        binary
*.ico       binary diff
*.jar       binary
*.jpeg      binary diff
*.jpg       binary diff
*.pdf       binary
*.png       binary diff
*.ppt       binary
*.pptx      binary
*.ps        binary
*.slx       binary
*.tar       binary
*.tgz       binary
*.tiff      binary diff
*.xls       binary
*.xlsx      binary
*.webp      binary diff
*.zip       binary
