################################################################################
# Copyright (c) 2024 Contributors to the Eclipse Foundation
#
# See the NOTICE file(s) distributed with this work for additional
# information regarding copyright ownership.
#
# This program and the accompanying materials are made available under the terms
# of the MIT License which is available at https://opensource.org/licenses/MIT
#
# SPDX-License-Identifier: MIT
#################################################################################

# Ignore local copy of highlight.js. See ../sbe-course/_highlightjs_copy_to_local.bash.
/languages/
/styles/
/highlight.min.js
/highlightjs.license.txt
