<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
  Copyright (c) 2023 Contributors to the Eclipse Foundation

  See the NOTICE file(s) distributed with this work for additional
  information regarding copyright ownership.

  This program and the accompanying materials are made available under the terms
  of the MIT License which is available at https://opensource.org/licenses/MIT

  SPDX-License-Identifier: MIT
-->
<plugin>
   <extension-point
        id="org.eclipse.escet.cif.annotations"
        name="CIF Annotations"
        schema="schema/org.eclipse.escet.cif.annotations.exsd"/>

   <extension
         point="org.eclipse.escet.cif.annotations">
      <provider
            annotationName="doc"
            class="org.eclipse.escet.cif.typechecker.annotations.builtin.DocAnnotationProvider"
            plugin="org.eclipse.escet.cif.typechecker">
      </provider>
      <provider
            annotationName="state"
            class="org.eclipse.escet.cif.typechecker.annotations.builtin.StateAnnotationProvider"
            plugin="org.eclipse.escet.cif.typechecker">
      </provider>
   </extension>

</plugin>
